.buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.buttons__button {
    background: transparent;
    color: teal;
    border: none;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: rgb(19, 180, 180);
    cursor: pointer;
}

.buttons__button:disabled {
    color: #ccc;
    cursor: not-allowed;
}