.form {
    display: flex;
}

.form__input {
    padding: 10px;
    margin-right: 25px;
    flex: 1;
    border-radius: 5px;
    font-size: 18px;
}

.form__button {
    color: white;
    background: teal;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
}

.form__button:hover {
    background: rgb(19, 180, 180);
}

.form__button:active {
    background: rgb(1, 89, 89);
}

@media(max-width: 767px) {
    .form {
        grid-template-columns: 1fr;
    }
}