.tasks {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

.tasks__item {
    display:grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgb(237, 237, 237);
    word-break: break-word;
}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done{
    text-decoration: line-through;
}

.tasks__button {
    color: white;
    border: none;
    width: 30px;
    height: 30px;
    padding: 0;
    transition: 0.5s;
}

.tasks__button--toggleDone {
    background: hsl(120, 97%, 29%);
    border-radius: 3px;
}

.tasks__button--toggleDone:hover {
     background: hsl(120, 86%, 46%);
}

.tasks__button--toggleDone:active {
    background: hsl(120, 100%, 65%);
}

.tasks__button--remove {
    background: hsl(0, 100%, 36%);
    border-radius: 3px;
}

.tasks__button--remove:hover {
     background: hsl(0, 83%, 30%);
}

.tasks__button--remove:active {
    background: hsl(0, 85%, 66%);
}

